<template id="sidebar_template">	
	<div id="myTopnav" class="topnav">
		<button class="openbtn" onclick="openNav()">&#9776; Menu</button> 
	</div>
	
	<div id="mySidebar" class="sidebar">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a id="index_link" onClick  = "showindex()">Home</a>
		<a id="overview_link" onClick  = "showoverview()"> Overview</a>
		<a id="business_link" onClick = "showbusinesscontext()">Business Context</a>
		<a id="exploratory_link" class="dropdown-btn">Data and Exploratory Analysis 
			<i class="fa fa-caret-down"></i>
		</a>
			<div class="dropdown-container">
				<a id = "univariate" onClick = "showunivariate()">Variable Distribution</a>
				<a id = "multivariate" onClick = "showmultivariate()">Variable Relation</a>
			</div>

		<a href="FeatureUnderstanding.html">Feature Understanding</a>
		<a href="Methodology.html">Methodology</a>
		<a href="Models.html">Analytical Model and Output</a>
		<a href="comparison.html">Comparison</a>
	</div>
</template>